In [86]:
import pandas as pd

In [87]:
movies = pd.read_csv("data.csv")

In [88]:
movies.describe()

            movie_id
count    1494.000000
mean    65503.379518
std     89811.925093
min        11.000000
25%      8102.750000
50%     26354.000000
75%     76340.250000
max    426469.000000

In [89]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     1494 non-null   object
 1   movie_id  1494 non-null   int64
 2   tags      1494 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.1+ KB

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000, stop_words='english')

In [91]:
vector = cv.fit_transform(movies['tags'].values.astype('U')).toarray()

In [92]:
vector.shape

(1494, 6000)

In [93]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.07938842, 0.05292561, ..., 0.        , 0.05143445,
        0.02380952],
       [0.07938842, 1.        , 0.05882353, ..., 0.04428074, 0.        ,
        0.        ],
       [0.05292561, 0.05882353, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.04428074, 0.        , ..., 1.        , 0.        ,
        0.03984095],
       [0.05143445, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.02380952, 0.        , 0.        , ..., 0.03984095, 0.        ,
        1.        ]])

In [94]:
movies[movies['title']=="Avatar"].index[0]

0

In [96]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(movies.iloc[i[0]].title)

Spectre
Never Say Never Again
Quantum of Solace
Skyfall
From Russia with Love

In [99]:
def genres_recommend(movie):
    index=movies[movies['title']==movie].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:10]:
        print(movies.iloc[i[0]].title)

In [106]:
genres_recommend('Batman Begins')

Batman Begins
The Dark Knight
The Dark Knight Rises
Batman v Superman: Dawn of Justice
Teenage Mutant Ninja Turtles
The Taking of Pelham 1 2 3
Hobo with a Shotgun
The Punisher
The Yards
The Godfather

In [101]:
import pickle

In [102]:
pickle.dump(movies,open('movie_list.pkl','wb'))

In [103]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [104]:
pickle.load(open('movie_list.pkl', 'rb'))

,title,movie_id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,John Carter,49529,"John Carter is a war-weary, former military ca..."
...,...,...,...
1489,Clerks,2292,Convenience and video store clerks Dante and R...
1490,Dry Spell,255266,Sasha tries to get her soon-to-be ex husband K...
1491,Tin Can Man,157185,Recently dumped by his girlfirend for another ...
1492,Primer,14337,Friends/fledgling entrepreneurs invent a devic...
1493,Shanghai Calling,126186,When ambitious New York attorney Sam is sent t...